# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Distribution / packaging
.DS_Store
*.egg
*.egg-info/
dist/
build/
wheels/
*.whl
.installed.txt

# Logging
*.log
*.out
# Environment variables
.env
*.env.*
.secrets.toml

# IDE and editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Fast API specific (if needed)
# If you use a specific database, add its files here
# Example for SQLite
*.db
*.sqlite

# Testing
/.coverage
/htmlcov/
/.pytest_cache/

# Static files (if you're generating them)
/static/

# Docker (if you use it)
docker-compose.yml
docker-compose.override.yml
Dockerfile.*

# Other temporary files
*.tmp
*.swp
*.bak

# detached log file
nohup.out


*.pt
.ipynb_checkpoints


GroundingDINO/
weights/
debug/
logs/
src/
asr_env/
*.m4a
*.ogg
optimal-life-467111-a8-4595d1c774fb.json
test.py
test2.py
